
.search-input {
  padding: 10px 5px;
  line-height: 10px;
}

.search-button {
  border: none;
  margin: 10px;
  background: #61dafb;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
}

.search-button:hover {
  cursor: pointer;
  color: black;
  background:rgba(134, 132, 132, 0.452);
 }

 .no-results {
  min-width: 500px;
  min-height: 300px;
 }

 .selectors {
   display: flex;
   justify-content: center;
   margin: 10px;
 }