
.more-info {
  min-width: 700px;
  background: #f4f4f4;
  border-radius: 5px;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #61dafb;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 20px rgba(0,0,0,0.05);
}

.more-info-container {
  position: absolute;
  top: 0%;
  display: flex;
  justify-content: center;
}

.info {
  text-align: left;
}

.hours {
  width: 220px;
}

.phone {
  width: 140px;
}

.address {
  width: 180px;
}

.info-title {
  font-weight: bold;
}

.res-contact-container {
  display: flex;
  justify-content: center;
}

.rest-url {
  text-align: center;
}

.contact-type {
  margin: 10px;
}

.website-container {
  width: 700px;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.close-button {
  border: none;
  margin: 10px;
  background: #61dafb;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border-radius: 7px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
}

.close-button:hover {
  cursor: pointer;
  color: black;
  background:rgba(134, 132, 132, 0.452);
 }