.pagination-container {
  width:100%;
  display: flex;
  justify-content: center;
}

.pagination-icon {
 font-size: 50px;
 margin-bottom: 5px;
}

.pagination-button {
 margin: 20px;
}

.active {
  color: black;
}

.active:hover {
  cursor: pointer;
 }

.inactive {
  color: rgb(150, 150, 150);
}

.pagination-container {
 width:100%;
 display: flex;
 justify-content: center;
}

.button-container {
 display: flex;
}