.genre {
  width: 415px;
}

.telephone {
  width: 180px;
}

.city {
  width: 200px;
}

.name {
  width: 300px;
}

.restuarant-container {
  position: relative;
}

table {
  margin: 25px auto;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #61dafb;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 20px rgba(0,0,0,0.05);
  }

tr:hover {
  background: #f4f4f4;
}

td {
  color: #555;
}
th, td {
  color: #999;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
}
th {
  background: #61dafb;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}

.table-sortable-container {
  display: flex;
  justify-content: center;
}

.table-head-sortable:hover {
  cursor: pointer;
}

.sorting-arrow {
  font-size: 20px;
  margin-right: 10px;
  margin-top: 3px;
}
